certifi==2025.10.5
charset-normalizer==3.4.4
contourpy==1.3.3
cycler==0.12.1
docopt==0.6.2
EasyPySpin==2.0.1
et_xmlfile==2.0.0
fonttools==4.60.1
futures==3.0.5
gurobipy==12.0.3
idna==3.11
joblib==1.5.2
kiwisolver==1.4.9
matplotlib==3.10.7
numpy==2.2.6
opencv-python==4.12.0.88
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pillow==12.0.0
pipreqs==0.4.13
pygame==2.6.1
pyparsing==3.2.5
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.1
pyserial==3.5
pySerialTransfer==2.6.11
pyspin==1.1.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
scikit-learn==1.7.2
scipy==1.16.2
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
urllib3==2.5.0
yarg==0.1.10
